<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add Category</title>
    <th:block th:replace="admin/fragments :: css"></th:block>
    <th:block th:replace="admin/fragments :: scripts"></th:block>
</head>
<body>
  
    <th:block th:insert="admin/admin-dashboard :: logo"></th:block>
    <th:block th:insert="admin/admin-dashboard :: sidebar"></th:block>
 <div class="br-header" >
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i
                        class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i
                        class="icon ion-navicon-round"></i></a></div>
                   <div class="br-pagetitle pt-0 justify-content-space-around">
           
                                       <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal"></span> Add <span class="tx-info">Category</span> <span class="tx-normal"></span></div>

            
            
            
        </div>

        </div>
          <th:block th:insert="admin/admin-dashboard :: header"></th:block>
        </div>
    <div class="br-mainpanel">
    <div class="br-pageheader bg-0 mb-0">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" th:href="@{/admin/dashboard}">Dashboard</a>
          <a class="breadcrumb-item" th:href="@{/admin/category}">All Category</a>
          <a class="breadcrumb-item" href="">Add Category</a>
          
        </nav>
         
      </div>

        <div class="br-pagebody mt-0">
            <div class="br-section-wrapper pd-20">
			
				<form th:action="@{/admin/add-category}" method="post" th:object="${excategory}" data-parsley-validate>
					<div class="form-layout form-layout-1">
						<div class="row mg-b-25">
				
	
							<div class="col-lg-4">
								<div class="form-group">
									<label class="form-control-label">Name <span
										class="tx-danger">*</span></label> <input class="form-control"
										type="text" name="name" th:field="*{name}"
										 placeholder="Enter Category" required>
										
								</div>
							</div>
									<div class="col-lg-4">
								<div class="form-group">
									<label class="form-control-label">Comment <span
										class="tx-danger">*</span></label> <input class="form-control"
										type="text" name="comment" th:field="*{comment}"
										 placeholder="Enter Comment" required>
										
								</div>
							</div>
							
									<input class="form-control"
										type="hidden" name="createdBy"
										th:value="${session.id}" >
										
								</div>
						
						<!-- row -->
						<div class="form-layout-footer">
							<button class="btn btn-info" type="submit">Add Category</button>
						</div>
						<!-- form-layout-footer -->
					
					<!-- form-layout -->
				</div>
				</form>
					</div>
	<th:block th:insert="admin/admin-dashboard :: footer"></th:block>
			</div>
			 <div th:if="${errorMessage}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${errorMessage}]]*/);
                               });
                              </script>
                              </div> 
                               <div th:if="${error}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${error}]]*/);
                               });
                              </script>
                              </div> 
		</div>
		

	
</body>
</html>
