<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Allowance</title>
    <th:block th:replace="admin/fragments :: css"></th:block>
    <th:block th:replace="admin/fragments :: scripts"></th:block>
</head>
<body>
  
    <th:block th:insert="admin/admin-dashboard :: logo"></th:block>
    <th:block th:insert="admin/admin-dashboard :: sidebar"></th:block>
 <div class="br-header" >
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i
                        class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i
                        class="icon ion-navicon-round"></i></a></div>
                   <div class="br-pagetitle pt-0 justify-content-space-around">
           
                            <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal"></span> Add <span class="tx-info">Allowance</span> <span class="tx-normal"></span></div>
            
            
            
        </div>

        </div>
          <th:block th:insert="admin/admin-dashboard :: header"></th:block>
        </div>
    <div class="br-mainpanel">
    <div class="mt-10px my-2 mg-l-40 d-flex justify-content-end">
			                      <a th:href="@{/admin/allowances}"
									class="btn btn-primary indigo mx-5 mt-2" >Go Back</a>
		</div>
       
        <div class="br-pagebody mt-0">
            <div class="br-section-wrapper pd-20">
				<form th:action="@{/admin/add-allowance}" method="post" th:object="${allowance}" data-parsley-validate>
					<div class="form-layout form-layout-1">
						<div class="row mg-b-25">
							<!-- <div class="col-lg-4">
								<div class="form-group mg-b-10-force">
									<label class="form-control-label">Status<span
										class="tx-danger">*</span></label> 
										<select class="form-control select2" th:field="*{status}">
										<option value=""
											th:selected="${employee.status== null}">Choose
											one</option>
										<option value="ACTIVE"
											th:selected="${employee.status == 'ACTIVE'}">ACTIVE</option>
										<option value="INACTIVE"
											th:selected="${employee.status == 'INACTIVE'}">INACTIVE</option>
									</select>
								</div>
							</div> -->
	
							<div class="col-lg-3">
								<div class="form-group">
									<label class="form-control-label">Allowance Name <span
										class="tx-danger">*</span></label> <input class="form-control"
										type="text" name="allowanceName" th:field="*{allowanceName}"
										 placeholder="Enter Allowance Name" required>
										 <span th:if="${#fields.hasErrors('allowanceName')}" th:errors="*{allowanceName}"></span>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label class="form-control-label">Allowance Abbr <span
										class="tx-danger">*</span></label> <input class="form-control"
										type="text" name="allowanceShort" th:field="*{allowanceShort}"
										 placeholder="Enter Allowance Abbr" required>
										 <span th:if="${#fields.hasErrors('allowanceShort')}" th:errors="*{allowanceShort}"></span>
								</div>
							</div>
														<div class="col-lg-3">
								<div class="form-group mg-b-10-force">
									<label class="form-control-label">Allowance Type <span
										class="tx-danger">*</span></label> <select
										class="form-control select2" name="allowanceType" th:field="*{allowanceType}">
									
										<option value=""
											th:selected="${allowance.allowanceType == null}">Choose
											one</option>
										<option th:each="type : ${session.allowanceTypes}" th:value="${type}"
											th:text="${type}"
											th:selected="${type == allowance.allowanceType}"></option>
									</select>
								</div>
							</div>

							<!-- col-8 -->
							
						</div>
						<!-- row -->
						<div class="form-layout-footer">
							<button class="btn btn-info" type="submit">Add Allowance</button>
						</div>
						<!-- form-layout-footer -->
					</div>
					
				
				</form>
			</div>
			 <div th:if="${errorMessage}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${errorMessage}]]*/);
                               });
                              </script>
                              </div> 
                               <div th:if="${error}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${error}]]*/);
                               });
                              </script>
                              </div> 
		</div>
		<th:block th:insert="admin/admin-dashboard :: footer"></th:block>
	</div>
	
</body>
</html>
