<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Add Fund</title>
<th:block th:replace="admin/fragments :: css"></th:block>
<th:block th:replace="admin/fragments :: scripts"></th:block>
</head>
<body>

	<th:block th:insert="admin/admin-dashboard :: logo"></th:block>
	<th:block th:insert="admin/admin-dashboard :: sidebar"></th:block>
	<div class="br-header">
		<div class="br-header-left">
			<div class="navicon-left hidden-md-down">
				<a id="btnLeftMenu" href="#"><i class="icon ion-navicon-round"></i></a>
			</div>
			<div class="navicon-left hidden-lg-up">
				<a id="btnLeftMenuMobile" href="#"><i
					class="icon ion-navicon-round"></i></a>
			</div>
			<div class="br-pagetitle pt-0 justify-content-space-around">

				<div class="signin-logo tx-center tx-28 tx-bold tx-inverse">
					<span class="tx-normal"></span> Add <span class="tx-info">Fund</span>
					<span class="tx-normal"></span>
				</div>



			</div>

		</div>
		<th:block th:insert="admin/admin-dashboard :: header"></th:block>
	</div>
	<div class="br-mainpanel">
		<div class="br-pageheader bg-0 mb-0">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" th:href="@{/admin/dashboard}">Dashboard</a>
          <a class="breadcrumb-item" th:href="@{/admin/funds}">All Funds</a>
          <a class="breadcrumb-item" href="">Add Fund</a>
          
        </nav>
         
      </div>
		<div class="br-pagebody mt-0">

			<div class="br-section-wrapper pd-20">
				
				<form th:action="@{/admin/add-fund}" method="post"
					th:object="${fund}" data-parsley-validate>
					<div class="form-layout form-layout-1">
						<div class="row mg-b-25">
							
							<div class="col-lg-4">
								<div class="form-group mg-b-10-force">
									<label class="form-control-label">Employee<span
										class="tx-danger">*</span></label> <select
										class="form-control select2" name="employeeId" required>
										<option value="" th:selected="${fund.employee == null}">Choose
											one</option>
										<option th:each="type : ${allEmployees}"
											th:if="${type.role == 'USER'}" th:value="${type.employeeId}"
											th:text="${type.employeeId + '-' + type.employeeName}"
											th:selected="${fund.employee != null and fund.employee.employeeId == type.employeeId}">
										</option>
									</select>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group mg-b-10-force">
									<label class="form-control-label">Amount Type<span
										class="tx-danger">*</span></label> 
										<select class="form-control select2" th:field="*{amountType}" required>
										<option value=""
											th:selected="${fund.amountType== null}">Choose
											one</option>
										<option value="CREDIT"
											th:selected="${fund.amountType== 'CREDIT'}">CREDIT</option>
										<option value="DEBIT"
											th:selected="${fund.amountType== 'DEBIT'}">DEBIT</option>
									</select>
								</div>
							</div> 
							
							<div class="col-lg-4">
								<div class="form-group">
									<label class="form-control-label">Enter Fund Amount<span
										class="tx-danger">*</span></label> <input class="form-control"
										type="number" name="fundAmount" th:field="*{fundAmount}"
										placeholder="Enter fundAmount " required>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group mg-b-10-force">
									<label class="form-control-label">Category<span
										class="tx-danger">*</span></label> 
										<select class="form-control select2" th:field="*{category}">
										<option value="GENERAL"
											th:selected="${fund.category==null}">GENERAL</option>
										<option value="MAINTENANCE"
											th:selected="${fund.category== 'MAINTENANCE'}">MAINTENANCE</option>
										<option value="EMERGENCY"
											th:selected="${fund.category== 'EMERGENCY'}">EMERGENCY</option>
									</select>
								</div>
							</div> 
							<div class="col-lg-4">
								<div class="form-group mg-b-10-force">
									<label class="form-control-label">Payment Mode<span
										class="tx-danger">*</span></label> <select
										class="form-control select2" name="paymentMode" th:field="*{paymentMode}" required>
										
										<option value=""
											th:selected="${fund.paymentMode == null}">Choose
											one</option>
										<option th:each="type : ${paymentTypes}" th:value="${type}"
											th:text="${type}"
											th:selected="${type == fund.paymentMode}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label class="form-control-label">Fund Purpose<span
										class="tx-danger">*</span></label> <input class="form-control"
										type="text" name="fundPurpose" th:field="*{fundPurpose}"
										
										placeholder="Enter Purpose">
								</div>
							 </div>
						
							 </div>
							
						<!--	<div class="col-lg-12">
								<div class="form-group">
									<label class="form-control-label">Description<span
										class="tx-danger">*</span></label> <textarea class="form-control" type="text"
										 name="description" th:field="*{description}"
										
										placeholder="Enter descritpion"></textarea>
								</div>
							</div>
							<input class="form-control"
										type="hidden" name="createdBy" th:value="${session.id}">
							</div> -->

							<!-- row -->
							<div class="form-layout-footer">
							<button class="btn btn-info" type="submit">Add Fund</button>
						</div>
						<!-- form-layout-footer -->
					</div>
						<!-- form-layout -->
				</form>
				</div>
			
			</div>
			<div th:if="${success}">
				<script th:inline="javascript">
					document.addEventListener("DOMContentLoaded", function() {
						$.SweetAlert.showError(/*[[${errorMessage}]]*/);
					});
				</script>
			</div>
			<div th:if="${error}">
				<script th:inline="javascript">
					document.addEventListener("DOMContentLoaded", function() {
						$.SweetAlert.showError(/*[[${error}]]*/);
					});
				</script>
			</div>
		
		<th:block th:insert="admin/admin-dashboard :: footer"></th:block>
	
</div>
</body>
</html>
