<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change User Password</title>
  <th:block th:replace="admin/fragments :: css"></th:block>
    <th:block th:replace="admin/fragments :: scripts"></th:block>
</head>
<body>
   <th:block th:insert="admin/admin-dashboard :: logo"></th:block>
    <th:block th:insert="admin/admin-dashboard :: sidebar"></th:block>
 <div class="br-header" >
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i
                        class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i
                        class="icon ion-navicon-round"></i></a></div>
                   <div class="br-pagetitle pt-0 justify-content-space-around">
           
                   <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal"></span> Change <span class="tx-info">User Password</span> <span class="tx-normal"></span></div>

            
            
            
        </div>

        </div>
          <th:block th:insert="admin/admin-dashboard :: header"></th:block>
        </div>
	<div class="br-mainpanel">
      <div class="br-pagetitle pt-2">
       
      </div><!-- d-flex -->
		<div class="br-pagebody mt-1">
			<div class="br-section-wrapper d-flex flex-row justify-content-center">
      <div class="login-wrapper  wd-300 wd-xs-400 pd-25 pd-xs-40  rounded shadow-base">
        <!-- div class="tx-center mg-b-40">Aone Recovery Management System</div> -->
         <form th:action="@{/admin/user-change-password/{id}(id=${id})}" method="post" >
       
        <div class="form-group">
          <input class="form-control" type="password" name="newPassword" placeholder="Enter New Password" required>
        </div>
         <div class="form-group">
          <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm New Password" required>
        </div>
        <button type="submit" class="btn btn-info btn-block">Change Password</button>
</form>

</div>
</div>
</div>
      </div><!-- login-wrapper -->

                              <div th:if="${success}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showSuccess(/*[[${success}]]*/);
                               });
                              </script>
                              </div> 
                               <div th:if="${error}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${error}]]*/);
                               });
                              </script>
                              </div> 
    </div>

  </body>
</html>
