<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">
<meta charset="UTF-8">

 <script th:src="@{/lib/jquery/jquery.min.js}"></script>
<link th:href="@{/lib/%40fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet">
<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
 <link th:href="@{/css/bracket.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
   <link th:href="@{/lib/rickshaw/rickshaw.min.css}" rel="stylesheet">
   <link th:href="@{/lib/highlightjs/styles/github.css}" rel="stylesheet">
    <link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet">
   
    
       
</head>
<div th:fragment="scripts">
		<script th:src="@{/js/jquery.sweet-alert.custom.js}"></script>
		<script th:src="@{/lib/jquery-ui/ui/widgets/datepicker.js}"></script>
		<script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/lib/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
		<script th:src="@{/lib/moment/min/moment.min.js}"></script>
		<script th:src="@{/lib/peity/jquery.peity.min.js}"></script>
		 <script th:src="@{/lib/rickshaw/vendor/d3.min.js}"></script>
    <script th:src="@{/lib/rickshaw/vendor/d3.layout.min.js}"></script>
    <script th:src="@{/lib/rickshaw/rickshaw.min.js}"></script>
		<script th:src="@{/lib/highlightjs/highlight.pack.min.js}"></script>
			  <script th:src="@{/lib/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/lib/datatables.net-dt/js/dataTables.dataTables.min.js}"></script>
    <script th:src="@{/lib/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js}"></script>
			
		<script th:src="@{/lib/select2/js/select2.min.js}"></script>
		<script th:src="@{/js/bracket.js}"></script>
</div>
<div th:fragment="dashboard-scripts">
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/jquery-ui/ui/widgets/datepicker.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/lib/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/lib/moment/min/moment.min.js}"></script>
    <script th:src="@{/lib/peity/jquery.peity.min.js}"></script>
      <script th:src="@{/lib/highlightjs/highlight.pack.min.js}"></script>
      <script th:src="@{/lib/echarts/echarts.min.js}"></script>
       <script th:src="@{/js/bracket.js}"></script>
       <script th:src="@{/js/ResizeSensor.js}"></script>
    <script th:src="@{/js/chart.echarts.js}"></script>
    
       <script th:src="@{/lib/raphael/raphael.min.js}"></script>
     <script th:src="@{/lib/morris.js/morris.min.js}"></script>
   
    <script th:src="@{/js/chart.morris.js}"></script>
    <script th:src="@{/lib/rickshaw/vendor/d3.min.js}"></script>
    <script th:src="@{/lib/rickshaw/vendor/d3.layout.min.js}"></script>
    <script th:src="@{/lib/rickshaw/rickshaw.min.js}"></script>
    <script th:src="@{/lib/jquery.flot/jquery.flot.js}"></script>
    <script th:src="@{/lib/jquery.flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/lib/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/lib/jquery-sparkline/jquery.sparkline.min.js}"></script>
    
    <script th:src="@{/lib/select2/js/select2.full.min.js}"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAq8o5-8Y5pudbJMJtDFzb8aHiWJufa5fg"></script>
    <script th:src="@{/lib/gmaps/gmaps.min.js}"></script>
    <script th:src="@{/js/map.shiftworker.js}"></script>
    
    <script th:src="@{/js/dashboard.js}"></script>
       
   
    
    <script>
        $(function () {
            'use strict'


            $(window).resize(function () {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu() {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });
    </script>


</div>
		
</html>