<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Register</title>
 <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <!-- vendor css -->
    <link th:href="@{/lib/%40fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.min.css"rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>

    <!-- Bracket CSS -->
    <link rel="stylesheet" th:href="@{/css/bracket.css}">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

      <div class="login-wrapper wd-300 wd-xs-400 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal"></span> AONE <span class="tx-info">RECOVERY</span> <span class="tx-normal"></span></div>
        <div class="tx-center mg-b-40">Aone Recovery Management System</div>
<form th:action="@{/register}" method="post" th:object="${employee}">
        <div class="form-group">
        <input class="form-control" type="text" name="employeeName" th:field="*{employeeName}" placeholder="Full Name" required>
        <span th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></span>
        </div><!-- form-group -->
        <div class="form-group">
          <input class="form-control" type="password" name="password" th:field="*{password}" placeholder="Password" required>
          <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div><!-- form-group -->
        <div class="form-group">
          <input class="form-control" type="email" name="email" th:field="*{email}" placeholder="E-mail Address" required>
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div><!-- form-group -->
        <div class="form-group">
        <input class="form-control" type="text" name="contactNumber" th:field="*{contactNumber}" maxlength="10"   placeholder="Contact Number"
          required>
        <span th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></span>
        </div><!-- form-group -->
        <div class="form-group tx-12">By clicking the Register button below, you agreed to our privacy policy and terms of use of our website.</div>
        <button type="submit" class="btn btn-info btn-block">Register</button>
</form>
        <div class="mg-t-40 tx-center">Already a user? <a th:href="@{/login}" class="tx-info">Login</a></div>
      </div><!-- login-wrapper -->
         <div th:if="${errorMessage}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${errorMessage}]]*/);
                               });
                              </script>
                              </div> 
                               <div th:if="${error}">
                              <script th:inline="javascript">
                              document.addEventListener("DOMContentLoaded", function () {
                               $.SweetAlert.showError(/*[[${error}]]*/);
                               });
                              </script>
                              </div> 
    </div><!-- d-flex -->

   
     <script th:src="@{/js/jquery.sweet-alert.custom.js}"></script>
    <script th:src="@{/lib/jquery-ui/ui/widgets/datepicker.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>


  </body>
</html>
