<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Payroll</title>
<th:block th:replace="admin/fragments :: css"></th:block>
<th:block th:replace="admin/fragments :: scripts"></th:block>
</head>
<body>

	<th:block th:insert="admin/admin-dashboard :: logo"></th:block>
	<th:block th:insert="user/dashboard :: sidebar"></th:block>
	<div class="br-header">
		<div class="br-header-left">
			<div class="navicon-left hidden-md-down">
				<a id="btnLeftMenu" href="#"><i class="icon ion-navicon-round"></i></a>
			</div>
			<div class="navicon-left hidden-lg-up">
				<a id="btnLeftMenuMobile" href="#"><i
					class="icon ion-navicon-round"></i></a>
			</div>
			<div class="br-pagetitle pt-0 justify-content-space-around">

				<div class="signin-logo tx-center tx-28 tx-bold tx-inverse">
					<span class="tx-normal"></span> All <span class="tx-info">Payrolls</span>
					<span class="tx-normal"></span>
				</div>



			</div>

		</div>
		<th:block th:insert="admin/admin-dashboard :: header"></th:block>
	</div>
	<div class="br-mainpanel">
	<div class="br-pageheader bg-0 mb-0">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" th:href="@{/dashboard}">Dashboard</a>
          <a class="breadcrumb-item" th:href="@{/dashboard/salary-details}">Salary Details</a>
     
          
        </nav>
         
      </div>


		<div class="br-pagebody mt-0">


			<!-- Filter Form -->
			<div class="col-md-6">
						<form th:action="@{/dashboard/salary-details}" method="get" class="mb-4"
							id="filterForm">
							<div class="row">

								<div class="col-md-4">
									<label>Month:</label> <select name="month" class="form-control">
										<!-- Current Month Option -->
										<option
											th:value="${#dates.format(#dates.createNow(), 'MMMM')}"
											th:text="'Current (' + ${#dates.format(#dates.createNow(), 'MMMM')} + ')'"
											selected></option>

										<!-- Static Month Options -->
										<option value="January">January</option>
										<option value="February">February</option>
										<option value="March">March</option>
										<option value="April">April</option>
										<option value="May">May</option>
										<option value="June">June</option>
										<option value="July">July</option>
										<option value="August">August</option>
										<option value="September">September</option>
										<option value="October">October</option>
										<option value="November">November</option>
										<option value="December">December</option>
									</select>
								</div>

								<div class="col-md-4">
									<label>Year :</label> <select name="year" class="form-control">
										<option
											th:value="${#dates.format(#dates.createNow(), 'yyyy')}"
											th:text="${#dates.format(#dates.createNow(), 'yyyy')} "
											selected></option>
										<option th:each="y : ${#numbers.sequence(2020, 2030)}"
											th:value="${y}" th:text="${y}"></option>
									</select>
								</div>







								<div class="col-12  mt-3">
									<button type="submit" class="btn btn-primary">Search
										Salary</button>

								</div>

							</div>


						</form>

					</div>

			<div class="br-section-wrapper pd-20">


				<!-- Expense Table -->
				<div class="table-wrapper">
					<table id="datatable1"
						class="table display responsive table-bordered nowrap">
						<thead>
							<tr>
								<th class="col-1">#</th>
								<th class="col-2">Employee Id</th>
								<th class="col-2" >Employee Name</th>
								<th class="col-2">Total Allowances</th>
								<th class="col-2">Total Deductions</th>
								<th class="col-2">Net Salary</th>
								<th class="col-2">Month</th>
								<th class="col-2">Year</th>
								<th class="wd-2">Generate Payslip</th>

					
							</tr>
						</thead>
						<tbody>
							<tr th:each="fund, stat : ${summary}">
								<td
									th:text="${stat.index + 1 + ((currentPage != null ? currentPage : 0) * (size != null ? size : 10))}"></td>
								<td th:text="${fund.employeeId}"></td>
								<td th:text="${fund.employeeName}"></td>
								<td th:text="${fund.totalAllowance}"></td>
								<td>
									<span th:text="${fund.totalDeduction}"></span>
								</td>

								<td th:text="${fund.netSalary}"></td>
								<td th:text="${fund.month}"></td>
								<td th:text="${fund.year}"></td>
								<td>
    <a th:href="@{/dashboard/generate/payslip(id=${fund.employeeId}, month=${fund.month}, year=${fund.year})}"
									class="btn btn-primary btn-sm"  target="_blank"> <i class="fa-solid fa-money-bill-wave" ></i></td>


							</tr>
						</tbody>
					</table>
				</div>



			</div>
		</div>
		<th:block th:insert="admin/admin-dashboard :: footer"></th:block>
	</div>



	<div th:if="${success}">
		<script th:inline="javascript">
			document.addEventListener("DOMContentLoaded", function() {
				$.SweetAlert.showSuccess(/*[[${success}]]*/);
			});
		</script>
	</div>
	<div th:if="${error}">
		<script th:inline="javascript">
			document.addEventListener("DOMContentLoaded", function() {
				$.SweetAlert.showError(/*[[${error}]]*/);
			});
		</script>

	</div>




	<!-- Delete Confirmation -->
	<!-- 	<script>
        function addDeduction(event) {
            event.preventDefault();
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.closest("form").submit();
                }
            });
        }

        /* document.addEventListener("DOMContentLoaded", function () {
            let today = new Date().toISOString().split("T")[0];
            document.getElementById("fromDate").setAttribute("max", today);
            document.getElementById("toDate").setAttribute("max", today);
        }); */
    </script> -->
	<script>
		$(function() {
			'use strict';

			$('#datatable1').DataTable({
				responsive : false,
				language : {
					searchPlaceholder : 'Search...',
					sSearch : '',
					lengthMenu : false,
				}
			});

			$('#datatable2').DataTable({
				bLengthChange : false,
				searching : false,
				responsive : true
			});

			// Select2
			$('.dataTables_length select').select2({
				minimumResultsForSearch : Infinity
			});
		});
	</script>
</body>
</html>
